
#title { 
text-align: center;
color: #312D8C;


}

.but {
    color: #312d8C;
    background-color: transparent; 
    float: left;
   padding-right: 7%;
}

body {
 font-family: 'Domine', serif;
}

.butt{
   
}
